<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
  <h2>{{counter}}</h2>
  <button v-on:click="increase">+</button>
  <button @click="decrease">-</button>

  <button @click="btnClick0">按钮0</button>
  <!-- 当 event 的位置在后面时 用 $event -->
  <button @click="btnClick1(123, $event)">按钮1</button>
  <button>按钮2</button>
</div>
<script src="../js/vue.js"></script>
<script>
  // var btns = document.getElementsByTagName('button')
  // for(var i = 0; i < btns.length; i++){
  //   (function (i) {
  //     btns[i].addEventListener('click', function () {
  //       alert('第' + i + '个按钮被点击')
  //     })
  //   })(i)
  // }

  // const btns = document.getElementsByTagName('button')
  // for(let i = 0; i < btns.length; i++){
  //   btns[i].addEventListener('click', function () {
  //     alert('第' + i + '个按钮被点击')
  //   })
  // }
  // 对象字面量 增强
  let counter = 0
  let app = new Vue({
    el: '#app',
    data: {
      // 无需再写 counter: counter
      // 自动类型推断
      counter
    },
    methods: {
      // 无需写 function
      increase() {
        this.counter++
      },
      decrease() {
        this.counter--
      },
      btnClick0(event) {
        // 浏览器默认的 event 对象
        console.log(event)
      },
      btnClick1(arg0,event) {
        // 浏览器默认的 event 对象
        console.log(arg0)
        console.log(event)
      }
    },
    computed: {
    }

  })
</script>

</body>
</html>